---
title: Aerospike EE Managed Service for PCF
owner: Partners
---

This documentation describes Aerospike Enterprise Edition Managed Service for Pivotal Cloud Foundry (Aerospike EE Managed Service for PCF). Aerospike EE Managed Service for PCF allows you to configure and deploy an Aerospike Enterprise Edition NoSQL database in your PCF environment and exposes its service plans in the Marketplace. Developers can create instances of these service plans using Apps Manager or the cf Command Line Interface (CLI) and bind them to applications in order to access the Aerospike database managed by this service.


## <a id='overview'></a> Overview

Aerospike is a high-performance, distributed, scalable NoSQL database and key-value store. 

Aerospike EE Managed Service for PCF enables you to deploy an Aerospike database to your PCF deployment. You can configure the [namespaces](http://www.aerospike.com/docs/architecture/data-model.html#namespaces) on the database and expose them as service plans in the Marketplace. Developers can create instances of these service plans and bind them to applications in order to provide connection information to the applications.

The Aerospike EE Managed Service for PCF has the following features:

* Key-value store
* Flexible data model
* User-defined functions
* Geospatial support
* Aggregations
* Geographic replication
* Open-source

For more information about Aerospike, see the [Aerospike documentation](http://www.aerospike.com/docs/).


## <a id="snapshot"></a> Product Snapshot


The following table provides version and version-support information about Aerospike EE Managed Service for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 12, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Aerospike Server Enterprise Edition v4.2.0.4</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, AWS, and GCP</td>
    </tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
Aerospike EE Managed Service for PCF v1.0.4
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="reqs"></a> Requirements

Aerospike EE Managed Service for PCF has the following requirements:

* This product requires you to have a valid Enterprise Edition license and feature key for the Aerospike database.


## <a id="feedback"></a> Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).


## <a id='license'></a> License

To obtain a license for the Enterprise Edition of the server, use [this form](http://www.aerospike.com/contact-us/) to contact the Aerospike sales team.
