---
title: Aerospike Enterprise Edition for PCF (BETA)
owner: Partners
---

This documentation describes the Aerospike Enterprise Edition for Pivotal Cloud Foundry (PCF). The Aerospike Enterprise Edition allows you to configure and deploy an Aerospike Enterprise Edition NoSQL database in your PCF environment and exposes its service plans on the Marketplace. Developers can create instances of these service plans using Apps Manager or the cf Command Line Interface (CLI), and bind them to applications in order to access the Aerospike database managed by this service.

## <a id='overview'></a>Overview

Aerospike is a high-performance, distributed, scalable NoSQL database and key/value store. 

The Aerospike Enterprise Edition for PCF makes it simple for you to configure and deploy an Aerospike database into your PCF deployment. The product allows you configure the [namespaces](http://www.aerospike.com/docs/architecture/data-model.html#namespaces) on the database and exposes them as service plans in the Marketplace. Developers can create instances of these service plans and bind them to applications in order to provide connection information to the applications.

The Aerospike Enterprise Edition for PCF has the following features:

* Key-value store
* Flexible data model
* User-defined functions
* Geospatial support
* Aggregations
* Geographic replication
* Open-source

For more information about Aerospike, see the [Aerospike documentation](http://www.aerospike.com/docs/).

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Aerospike Enterprise Edition for Pivotal Cloud Foundry Details:</dt>
<dd><strong>Version</strong>: v0.1.0 </dd>
<dd><strong>Release Date</strong>: September 22, 2016</dd>
<dd><strong>Software component version</strong>: Aerospike Server Enterprise Edition v3.9.1</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.4.x, v1.5.x, v1.6.x, v1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> No</dd>
<dd><strong>AWS support?</strong> No</dd>
</dl>

## <a id="reqs"></a>Requirements

Aerospike Enterprise Edition for PCF has the following requirements:

* The current version has only been tested in the vSphere environment.
* This product requires you to have a valid Enterprise Edition license for the Aerospike database.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).

## <a id='license'></a>License

To obtain a license for the Enterprise Edition of the server, use [this form](http://www.aerospike.com/contact-us/) to contact the Aerospike sales team.

